
<div style="padding:20px">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="search.." #input>
    <table mat-table #table [dataSource]="dataSource" style="width:100%" class="mat-elevation-z8">
        <ng-container matColumnDef="categorie">
            <th mat-header-cell *matHeaderCellDef > Categorie </th>
            <td mat-cell *matCellDef="let element" >{{element.categorie}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="color: white;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginatorData [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>